$accent: #1b9bb9;

$lightest-text: #fff;
$lighter-text: #ccc;
$light-text: #999;
$dark-text: #333;

$lightest-border: #f2f2f2;
$lighter-border: #e5e5e5;
$light-border: #ccc;
$dark-border: #999;

$outer-body: #f2f2f2;
$inner-body: #fff;

$error: #cf0000;
$shadow: rgba(5,5,5,.5);
