html {
	position: relative;
	height: 100%;
}

body {
  background-color: $outer-body;
  color: $dark-text;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  color: $lightest-text;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  line-height: 24px;
  margin: 0 3px 0 6px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: $accent;
  border: 1px solid $accent;
  padding: 2px 16px;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid $light-border;
  padding: 2px 15px;

  &:hover {
    border: 1px solid $lighter-border;
  }
}

.button-track-form {
  height: 26px;
  padding: 2px 11px 2px 10px;
  margin: 0;
  line-height: 20px;
}

.button-nostyle {
  margin: 0;
  background-color: transparent;
  border: none;
  color: $dark-text;
  padding: 2px 11px 2px 10px;
  height: 26px;
  line-height: 20px;
}
