.content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #fff;
  width: 1240px;
  border-top: 0;
  justify-content: center;
}

.splash-logo {
  display: block;
  position: absolute;
  top: 13px;
  left: 19px;
  background: image-url('logo-full-transparent.png');
  width: 184px;
  height: 46px;
  margin: 0;
}

.splash-signin {
  position: absolute;
  top: 18px;
  right: 30px;
}

.splash-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background: image-url('splash-banner.jpg');
  width: 1240px;
  height: 450px;
  text-shadow: 0 0 3px rgba(5,5,5,.5);
  box-shadow: inset 0 120px 40px -40px rgba(5,5,5,.5);

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #fff;
  }
  
  p {
    max-width: 530px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
  }
}

.splash-trending {
  width: inherit;

  h1 {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
  }
}

.splash-trending-items {
  display: flex;
  width: inherit;
  justify-content: space-around;
  flex-wrap: wrap;
}

.splash-track {
  width: 180px;
  padding-bottom: 10px;

  img {
    width: 180px;
    height: 180px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    color: #999;
  }
}
