.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: $header;
  color: $lighter-text;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 1240px;
}

.navbar-left {
  display: flex;

  .navbar-item {
    border-right: 1px solid #111;

  }
}

.navbar-logo {
  display: block;
  background: image-url('logo-small.png');
  width: 69px;
  height: 46px;
}

.navbar-logo-full {
  display: block;
  background: image-url('logo-full.png');
  width: 184px;
  height: 46px;
}

.navbar-item {
  display: block;
  padding: 12px 0;
  width: 104px;
  height: 46px;
  box-sizing: border-box;
  text-align: center;
  color: $lighter-text;
  text-decoration: none;
  outline: 0;
  font-size: 14px;
  line-height: 1.5;
  &:hover {
    color: #eee;
  }
}

.navbar-right {
  display: flex;
  align-items: center;

  button {
    height: 26px;
    line-height: 20px;
    padding: 2px 11px 2px 10px;
    margin-bottom: 2px;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
  }

  .button-transparent {
    margin-right: 12px;
    border-color: #666;
    &:hover {
      border-color: #999;
    }
  }

}