.playbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 48px;
  bottom: 0;
  z-index: 5;
  background-color: $outer-body;
  border-top: 1px solid #cecece;
  color: $dark-text;
}

.playbar-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1240px;
}

.playbar-controls {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.playbar-progressbar {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 24px;
  span:first-child {
    margin-right: 10px;
  }
  span:last-child {
    width: 32px;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
  }
}

.playbar-seeker-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.playbar-seeker {
  width: 100%;
}

.playbar-volume {
  margin-left: 15px;
  margin-right: 8px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.playbar-volumebar-container {
  width: 32px;
  height: 120px;
  position: absolute;
  bottom: 42px;
  right: 1px;
  z-index: 10;
  box-sizing: border-box;
  background-color: $outer-body;
  border: 1px solid #cecece;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    border-style: solid;
    left: 9px;
  }
  
  &:before {
    box-shadow: -3px 3px 4px rgba(0,0,0,.1);
    bottom: -10px;
    border-color: transparent transparent $light-border $light-border;
    border-width: 5px;
    z-index: 0;
  }

  &:after {
    bottom: -8px;
    border-color: transparent transparent $outer-body $outer-body;
    border-width: 4px;
    z-index: 1;
  }

  input {
    width: 100px;
    height: 32px;
    transform-origin: 50px 50px;
    transform: rotate(-90deg);
  }
}

.playbar-track-item {
  display: flex;
  align-items: center;
  height: 48px;
  width: 360px;
  padding: 0 8px;
  box-sizing: border-box;
  img {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 0 10px 0 0;
  }
}

.playbar-track-item-container {
  display: flex;
  flex-direction: column;
  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    a {
      color: $light-text;
      &:hover{
        color: $dark-text;
      }
    }
  }
  h1 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    a {
      color: $dark-text;
      &:hover{
        color: #000;
      }
    }
  }
}
