.list-container {
  display: flex;
  width: 820px;
  height: 160px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.list-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 644px;
  padding-top: 7px;
  margin: 0 0 6px;
  min-height: 43px;
}

.list-detail-title-date {
  display: flex;
  justify-content: space-between;
}

.list-title-container {
  display: flex;
}

.list-title {
  display: flex;
  flex-direction: column;
  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 100;
    a {
      color: $light-text;
      &:hover{
        color: $dark-text;
      }
    }
  }
  h1 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 100;
    a {
      color: $dark-text;
      &:hover{
        color: #000;
      }
    }
  }
}

.list-uploaded-ago {
  color: $lighter-text;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}

.list-stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: $light-text;
  font-size: 11px;
  line-height: 12px;
  
  span {
    margin-left: 18px;
    a {
      color: $light-text;
      &:hover{
        color: $dark-text;
      }
    }
  }
}

.list-album-art {
  img {
    width: 160px;
    height: 160px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    object-position: 50% 50%;
    object-fit: cover;
  }
}

.tile-container {
  display: flex;
  flex-direction: column;
  width: 173px;
  margin-right: 20px;
  box-sizing: border-box;
}

.tile-title {
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  a {
    color: $dark-text;
    &:hover {
      color: #000;
    }
  }
}

.tile-uploader {
  margin: 0;
  a {
    color: $light-text;
    &:hover {
      color: $dark-text;
    }
  }

}

.tile-button-container {
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  position: absolute;
}

.tile-album-art {
  width: 173px;
  height: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 173px;
    height: 173px;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    object-position: 50% 50%;
    object-fit: cover;
  }
}
